{% load static %}


{% include 'pages/head.html' %}

<head>
  <script>

    var myTimeout = setTimeout(requestUlangSumberDaya, 10000);
    
    
    function requestUlangSumberDaya() {
      // Ganti URL sesuai dengan sumber daya yang ingin Anda request ulang
      const url = window.location.href;

      fetch(url, {
        method: "GET", // Anda dapat mengganti dengan metode HTTP yang sesuai (GET, POST, dll.)
        headers: {
          "Cache-Control": "no-cache" // Untuk memastikan sumber daya tidak di-cache
        }
      })
      .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error("Gagal merequest ulang sumber daya");
        }
      })
      .then(data => { 
        $('body').html(data);  
        // Lakukan sesuatu dengan data yang diterima, seperti memperbarui elemen di halaman Anda
        console.log("Reloaded");
        localStorage.setItem('sudahDijalankan', 'true');
      })
      .catch(error => {
        console.error("Terjadi kesalahan:", error);
      });
    }

    
    // setTimeout(requestUlangSumberDaya(), 10000);
    // setInterval(() => {     
    //   requestUlangSumberDaya();
    //   console.log('Refreshed')
    // }, 3000);
  </script>
</head>

<body>

  {% include 'pages/navbar.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard" id="dashboard_section">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- Reports -->
            <div class="col-12">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Summary</h5>

                  <!-- Table with hoverable rows -->
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col" style="color: white;  font-size: 25px; font-weight: 700 ;">Total Device</th>
                        <th scope="col" style="color: springgreen; font-size: 25px; font-weight: 700 ;">Devices Online</th>
                        <th scope="col" style="color: orangered; font-size: 25px; font-weight: 700 ;">Devices Offline</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- Total Device  -->
                        <th scope="row" style="color: white; font-size: 30px; font-weight: 700 ;"><button type="button" data-bs-toggle="modal" data-bs-target="#modal_all_device" style=" color: white;border: 0px; background-color: transparent; text-decoration-line: underline;">{{total_device}}</button></th>

                          <!-- Modal All Device -->
                          <div class="modal fade" id="modal_all_device" tabindex="-1" role="dialog" aria-labelledby="modal-all-device" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Total Devices</h5>
                                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body" style="color: #;">
                                  {%for device in all_devices%}
                                  <p style="font-size: 20px; font-weight: 700; margin-bottom: 10px;">{{device.name}}</p>
                                  {%endfor%}
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Total Device  -->

                          <!-- Total Online-->
                        <td style="color: springgreen; font-size: 30px; font-weight: 700 ;"><button type="button" data-bs-toggle="modal" data-bs-target="#modal_devices_online" style="border: 0px; background-color: transparent; text-decoration-line: underline; color: springgreen;">{{total_online}}</button></td>
                        <!-- Modal Devices Online -->
                        <div class="modal fade" id="modal_devices_online" tabindex="-1" role="dialog" aria-labelledby="modal-all-device" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Devices Online</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                {%for device in devices_online%}
                                <p style="font-size: 20px; font-weight: 700; margin-bottom: 10px; color: green;">{{device.name}}</p>
                                {%endfor%}
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End Devices Online  -->





                        <td style="color: orangered; font-size: 30px; font-weight: 700 ;"><button type="button" data-bs-toggle="modal" data-bs-target="#modal_devices_offline" style="border: 0px; background-color: transparent; text-decoration-line: underline; color: orangered;">{{total_offline}}</button></td>
                          <!-- Modal Devices Offline -->
                              <div class="modal fade" id="modal_devices_offline" tabindex="-1" role="dialog" aria-labelledby="modal-all-device" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Devices Online</h5>
                                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      {%for device in devices_offline%}
                                      <p style="font-size: 20px; font-weight: 700; margin-bottom: 10px; color: red;">{{device.name}}</p>
                                      {%endfor%}
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- End Devices Offline  -->
                      </tr>

                    </tbody>
                  </table>

                  <!-- End Table with hoverable rows -->
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  
                  <table class="table table-hover">
                    <thead>
                      <tr>  
                        <th scope="col" style="color: springgreen; font-size: 25px; font-weight: 700 ;">Best Latency</th>
                        <th scope="col" style="color: orangered; font-size: 25px; font-weight: 700 ;">Worst Latency</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: springgreen; font-size: 25px; font-weight: 700 ;">{{best_latency}}</td>
                        <td style="color: orangered; font-size: 25px; font-weight: 700 ;">{{worst_latency}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>


              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Monitor Web Service : </h5>
                  <a href="https://monitor-feb.unej.site" target="_blank">Link Monitoring</a>
                </div>
              </div>
            </div><!-- End Reports -->

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->



  {% include 'pages/footer.html' %}