{% load static %}


{% include 'pages/head.html' %}

<head>
  <script>
    (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
      key: "AIzaSyCo4_qDiKbeaHkITnzfGNwHLTjoaEwRv8I",
      // Add other bootstrap parameters as needed, using camel case.
      // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
    });
  </script>

</head>

<body>

  {% include 'pages/navbar.html' %}

  <main id="main" class="main">



    <div class="pagetitle">
      <h1>Network Monitoring Maps</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <!-- <div class="card">
          <div class="card-body">
          </div>
        </div> -->
        <div class="col-12">
          <div id="map" style="height: 750px;"></div>
          <input type="hidden" id="warning" value="{% static 'assets/audio/alert.mp3' %}">
          <input type="hidden" id="unej-logo" value="{% static 'assets/img/unej.png' %}">
          <input type="hidden" id="router-on" value="{% static 'assets/img/router-on.svg' %}">
          <input type="hidden" id="wifi-on" value="{% static 'assets/img/wifi-on.svg' %}">
          <input type="hidden" id="router-off" value="{% static 'assets/img/router-off.svg' %}">
          <input type="hidden" id="wifi-off" value="{% static 'assets/img/wifi-off.svg' %}">
          

          <div class="col-12">
            <button class="btn btn-warning mb-2 mt-2 w-100" style="font-weight: 700;" id="btn-mute"
              type="submit">Mute</button>
            <button class="btn btn-warning mb-2 mt-2 w-100" style="font-weight: 700;" id="btn-unmute" type="submit"
              hidden>UnMute</button>
          </div>

        </div>

      </div>
      </div>
    </section>

  </main><!-- End #main -->

  
<script>
let unej_logo;
let router_on;
let wifi_on;
let router_off;
let wifi_off;
let warning_status = false
let mute = false
let url_audio;

//Fungsi display list device
function display_devices(data){
  let devices = ''
  for(let i=0;i<data.devices.length;i++){
    devices += `<p> ${data.devices[i].device_name}(${data.devices[i].device_ip}) : <b>${data.devices[i].device_status}</b> </p>` 
  } 
  return devices
}


//Get Location URL
$(function(){
    unej_logo = $('#unej-logo').val()  
    url_audio = $('#warning').val()

    $('#btn-mute').on('click', function(){
      mute = true
      $('#btn-unmute').attr('hidden',false)
      $(this).attr('hidden',true)
    })

    $('#btn-unmute').on('click', function(){
      mute = false
      $('#btn-mute').attr('hidden',false)
      $(this).attr('hidden',true)
    })

 
})

let map;

async function initMap() {
  //@ts-ignore
  const { Map } = await google.maps.importLibrary("maps"); 
  const {AdvancedMarkerElement} = await google.maps.importLibrary("marker");

  map = new Map(document.getElementById("map"), {
    mapId: "68406db2711b3df8",
    center: { lat: -8.168684, lng: 113.715874 },
    zoom: 19,
  });


  //Get NetMaps Data Nodes
  $.ajax({
    type:'GET',
    url:'get_netmaps_data',
    success: function(response){
      console.log('Success Get Data Netmaps')

      data = response 

      const iconBase = "https://nemesys.feb.unej.ac.id/static/assets/img/";
      const icons = {
        AP_on: {
          icon: iconBase + "AP-on.png",
        },
        AP_off: {
          icon: iconBase + "AP-off.png",
        },
      };

      let markers =[
            [
          "Universitas Jember",
          -8.164743199040513,
          113.71527408052923,
          unej_logo,
          40,
          40,
          "Universitas Jember"
        ],
      ]

      
      for(let i=0;i<data.devices.length;i++){
        
        console.log(String(iconBase+data.devices[i].icon))

        markers.push([

          '<div id="content">' +
          `<div id="siteNotice">${data.devices[i].device_name}` +
          "</div>" +
          `<h1 id="firstHeading" class="firstHeading">${data.devices[i].type}</h1>` +
          '<div id="bodyContent">' +
          ``+
          "</div>" +
          "</div>",

          data.devices[i].lat,

          data.devices[i].long,

          String(iconBase+data.devices[i].icon),

          25,

          25,

          data.devices[i].device_name,

        ])

        if(data.devices[i].device_status=='off'){
          console.log('Warning Status to True')
          warning_status=true
        }
        
      }

      for(let i = 0; i<markers.length; i++){
        
        const currentMarker = markers[i];    
        const statusTag = document.createElement("div");

        const beachFlagImg = document.createElement("img");

        beachFlagImg.src = "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
        statusTag.className = "test";


          const marker = new google.maps.Marker({
            position: {lat: currentMarker[1], lng: currentMarker[2]},
            map,
            icon: currentMarker[3],
            title: currentMarker[7],
          });

          const infowindow = new google.maps.InfoWindow({
            content: currentMarker[0]
          });

          marker.addListener("click", () => {
            infowindow.open({
              anchor: marker,
              map,
            });
          });

      }

    },
    error: function(response){
      console.log('ERROR')
      console.log(response)
    }
  })
}


function play_warning(){
  $(function(){
    let warning = new Audio($('#warning').val());
    if (!mute){
      if (warning_status){
        warning.play()
        console.log('Warning = True') 
    }else{
      console.log('Warning = False') 
    }
    }else{
      console.log('Mute = True') 
    }
  })
}

initMap()
play_warning()  

setInterval(() => {
initMap()
play_warning()
}, 60000);

</script>


  {% include 'pages/footer.html' %}