{% load static %}


{% include 'pages/head.html' %}


<body>

  {% include 'pages/navbar.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Services</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Monitoring Engine</h5>
              <p>{{monitoring_engine_status}}</p>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Daily Restart (Every 12:00)</h5>
              {%for device in all_device%}
              <p>{{device.name}} - ✅</p> 
              {%endfor%}
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->



  {% include 'pages/footer.html' %}